.app {
  text-align: center;
}
.header {
  background-color: rgb(46, 146, 177);
  height: 50px;
  margin: -10px 0 0 0;
  padding: 0 auto 0 auto;
  
  position: relative;
  z-index: 5;
}
.body{
  z-index: 4;
}
.homeLink,
.calculatorLink,
.countDowntLink{
  margin: 10px 30px;
  float: right;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.body {
  padding: 8%;
}